@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
        .mob-contact-link-phon {
          font-size: 36px;    
        }
                .mob-social-list {
                    display: flex;
                    gap: 56px;
                    justify-content: start;
                }
}